.movie-response {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.searchMovie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.movie-sort {
  display: flex;
  justify-content: flex-end;
  margin-top: 75px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav button {
  background-color: none;
  border: none;
  cursor: pointer;
}
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero h1 {
  font-size: 100px;
  text-align: center;
  margin-bottom: 5px;
}
.hero h5 {
  text-align: center;
  margin-bottom: 50px;
}
