.movie-layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 40px;
  padding: 40px 75px;
}

.movie-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movie-poster {
  width: 100%;
  border-radius: 10px;
}

.watchlist-btn {
  padding: 12px;
  height: 60px;
  border: none;
  border-radius: 6px;
  background: #ff9800;
  font-weight: bold;
  cursor: pointer;
}

.movie-info h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.movie-info h1 span {
  font-weight: normal;
  color: #777;
}

.plot {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 30px;
}
.info-grid-div {
  transition: transform 0.25s ease;
}

.info-grid div {
  background: #f5f5f5;
  padding: 10px 15px;
  border-radius: 6px;
}
.info-grid-div:hover {
  transform: translateY(-3px);
}
.ratings ul {
  list-style: none;
  padding: 0;
}

.ratings li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}
