input {
  width: 250px;
  height: 40px;
  font-size: 15px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px black;
  padding: 0.5rem 0.75rem;
  transition: transform 0.3s ease-in;
}
button {
  height: 40px;
  margin-top: 20px;
  width: 100px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px black;
  transition: transform 0.3s ease-in;
}
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
input:hover {
  transform: scale(1.1);
}
